<table style="font:0.8em/1.8 Arial, Helvetica, sans-serif;margin:0 auto!important; width:650px;" border="0" cellpadding="0" cellspacing="0">
  <thead>
      <tr>
      <th style="background:#333333;text-align:left;padding:0.65em 2em 0.65em 2em;" width="325" cellpadding="0" cellspacing="0">
        <a style="color:#ffffff;float:left;font-weight:normal;text-decoration:none;width:auto;" href="tel:+353214272744">Call us +353 21 4272744</a>
      </th>
      <th style="background:#333333;text-align:right;padding:0.65em 2em 0.65em 2em;" width="325" cellpadding="0" cellspacing="0">&nbsp;</th>
    </tr>
    <tr>
      <th style="border-left:1px solid #ececec;text-align:left;padding:1.7em 2em 0.5em 2em;" width="325" cellpadding="0" cellspacing="0">
        <a style="float:left;text-decoration:none;width:auto:" href="http://rechargecartridges.herokuapp.com/">
          <img style="width:21.5em;" src="http://rechargecartridges.herokuapp.com/assets/store/recharge-ba10bce9a5fa3764055eb5348d943eab518eb0d5cef8fc44f071a499886ef41b.png" alt="Recharge cartridges Logo" />
        </a>
      </th>
      <th style="border-right:1px solid #ececec;text-align:right;padding:1.7em 2em 0.5em 2em;" width="325" cellpadding="0" cellspacing="0">&nbsp;</th>
    </tr>
  </thead>
    
    <tbody>
      <tr>
      <td style="border-left:1px solid #ececec;">&nbsp;</td>
      <td style="border-right:1px solid #ececec;">&nbsp;</td>
    </tr>
        <tr>
      <td style="border-left:1px solid #ececec;border-right:1px solid #ececec;text-align:left;" cellpadding="0" cellspacing="0" colspan="2">
        <p style="color:#ec4445;font-family:Georgia,Times New Roman,Serif;font-size:2.6em;font-style:italic;line-height:1em;margin:0;padding:0.5em 0.8em 0.5em 0.8em;text-align:center;">Thank You For Your Order!</p>
      </td>
    </tr>
    <tr>
      <td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:2em 2em 0 2em;" colspan="2" width="700" valign="top">
                <p class="lede" style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">
                  <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
                </p>
        <p style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">
                    <%= Spree.t('order_mailer.confirm_email.instructions') %>
        </p>
                <p style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:bold;margin:2.5em 0 1em 0;">
                  <%= Spree.t('order_mailer.confirm_email.order_summary') %>
                </p>
                <table style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;">
                  <% @order.line_items.each do |item| %>
                        <tr>
                            <td style="color:#333333;font-size:1em;">
                                <%= raw(item.variant.product.name) %>
                                <%= raw(item.variant.options_text) -%>
                            </td>
                            <td style="color:#333333;font-size:1em;">(<%=item.quantity%>) <%= Spree.t('at_symbol') %> <%= item.single_money %> = <%= item.display_amount %></td>
                        </tr>
                  <% end %>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                  <tr>
                        <td style="color:#333333;font-size:1em;">
                          <%= Spree.t('order_mailer.confirm_email.subtotal') %>
                        </td>
                        <td style="color:#333333;font-size:1em;text-align:right;">
                          <%= @order.display_item_total %>
                        </td>
                  </tr>
                    <% if @order.line_item_adjustments.exists? %>
                        <% if @order.all_adjustments.promotion.eligible.exists? %>
                            <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                                <tr>
                                    <td style="color:#333333;font-size:1em;"><%= Spree.t(:promotion) %> <%= label %>:</td>
                                    <td style="color:#333333;font-size:1em;text-align:right;"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
                                </tr>
                            <% end %>
                      <% end %>
                    <% end %>
                  <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
                        <tr>
                            <td style="color:#333333;font-size:1em;"><%= Spree.t(:shipping) %> <%= name %>:</td>
                            <td style="color:#333333;font-size:1em;text-align:right;"><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></td>
                        </tr>
                  <% end %>
                    <% if @order.all_adjustments.eligible.tax.exists? %>
                        <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
                            <tr>
                                <td style="color:#333333;font-size:1em;"><%= Spree.t(:tax) %> <%= label %>:</td>
                                <td style="color:#333333;font-size:1em;text-align:right;"><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></td>
                            </tr>
                        <% end %>
                    <% end %>
                    <% @order.adjustments.eligible.each do |adjustment| %>
                        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                        <tr>
                            <td style="color:#333333;font-size:1em;"><%= adjustment.label %>:</td>
                            <td style="color:#333333;font-size:1em;text-align:right;"><%= adjustment.display_amount %></td>
                        </tr>
                    <% end %>
                    <tr>
                        <td style="color:#333333;font-size:1em;font-weight:bold;">
                            <%= Spree.t('order_mailer.confirm_email.total') %>
                        </td>
                        <td style="color:#333333;font-size:1.3em;font-weight:bold;text-align:right;">
                          <%= @order.display_total %>
                        </td>
                    </tr>
                </table>                
            </td>
    </tr>
        <tr>
      <td style="border-left:1px solid #ececec;border-right:1px solid #ececec;" colspan="2">&nbsp;</td>
    </tr>
    
    <tr>
      <td style="border-left:1px solid #ececec;border-right:1px solid #ececec;" colspan="2">&nbsp;</td>
    </tr>
        <tr>
      <td style="border-bottom:1px solid #ececec;border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 2em 2em 2em;" colspan="2" width="650" valign="top">
        <p class="lede" style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0;">
                  <%= Spree.t('order_mailer.confirm_email.thanks') %>
                </p>
        <p style="color:#333333;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:bold;margin:0!important;">Recharge Cartridges</p>
      </td>
    </tr>
  </tbody>
    
    <tfoot>
    <tr>
      <td width="650" style="background:#333333;border-left:1px solid #ececec;color:#949494;font-size:0.9em;padding:1.55em 2em;" colspan="2">
        <span>&copy; Copyright 2016 Recharge Cartridges. All Rights Reserved.</span>
      </td>
    </tr>
  </tfoot>
</table>