<div class="cart-adjustments-header" data-hook="cart_adjustments_headers">
  <h5><%= Spree.t(:order_adjustments) %></h5>
</div>

<div id="cart_adjustments" data-hook>
  <% if @order.line_item_adjustments.exists? %>
    <% @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
      <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:promotion) %>
    <% end %>
  <% end %>

  <% @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:tax) %>
  <% end %>

  <% @order.shipments.each do |shipment| %>
    <div>
      <h5><%= Spree.t(:shipping) %>: <%= shipment.shipping_method.name %></h5>
      <h5 style="text-align:right;"><%= shipment.display_discounted_cost %></h5>
    </div>
  <% end %>

  <% @order.adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
    <%= render "spree/orders/adjustment_row", :label => label, :adjustments => adjustments, :type => Spree.t(:adjustment) %>
  <% end %>
</div>
