<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<div class="cart-detail" id="cart-detail" data-hook>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <ul>
        <li><%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-4">
      <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any? %>
        <tr class="cart-subtotal col-xs-12 col-md-12">
          <td colspan="4" align='right'><h5><%= Spree.t(:cart_subtotal, count: @order.line_items.sum(:quantity)) %></h5></td>
          <td colspan><h5><%= order_form.object.display_item_total %></h5></td>
          <td></td>
        </tr>
        <%= render "spree/orders/adjustments" %>
      <% end %>
      <div class="warning cart-total col-xs-12 col-md-12">
        <div class="col-xs-6 col-md-6">
          <h5><%= Spree.t(:total) %></h5>
        </div>
        <div class="lead col-xs-6 col-md-6">
          <%= order_form.object.display_total %>
        </div>
      </div>
    </div>
  </div>
</div>
