<footer>	
	<div id="footer-top">			
		<div class="row">
			<div class="col-xs-12 col-md-12 search-box">
				<%= render :partial => 'spree/shared/search' %>				
			</div>
			<div class="col-xs-12 col-md-6">
				<h3>Information</h3>
				<nav id="footer-pages">
					<ul>
						<%= render partial: 'spree/static_content/static_content_list', collection: Spree::Page.by_store(current_store).visible.footer_links, as: :page %>
					</ul>
				</nav>
			</div>
			<div class="col-xs-12 col-md-6 foot-contact">
				<h3>Contact</h3>
				<div>
					<i class="fa fa-map-marker">					
					<% if @add.nil? %>

				    <% else %>
				      <p><%= @add.address %></p>
				    <% end %>
					
				</div>
				<div>
					<i class="fa fa-phone">
					<% if @add.nil? %>

				    <% else %>
				      <p><%= @add.phone %></p>
				    <% end %>
					
				</div>
				<div>
					<i class="fa fa-envelope">
					<p>
						<a class="footer-mail" href="mailto:<% if @add.nil?%><% else %><%= @add.email %><% end %>?Subject=Sales" target="_top"><% if @add.nil?%><% else %><%= @add.email %><% end %>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="footer-bottom">
		<div class="row">
			<ul>
				<li>Powered by 39bots</li>
				<li><%= link_to "Version.b1", admin_path, class: 'version' %></li>
			</ul>
		</div>

		<% if spree_current_user %>
  			<% if spree_current_user.has_spree_role?("super") %>
    			<%= link_to "Admin super", admin_path, class: 'admin_section' %>
  			<% end %>
		<% end %>		
	</div>	
</footer>