<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<% @add = Spree::Product.find_by(name: "customer-address") %>

<script>
	$(document).ready(function(){
		$("#toTop").css("display", "none");
			
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
		
		//Click event to scroll to top
		$('#toTop').click(function(){
			$('html, body').animate({scrollTop : 0},1000);
			return false;
		});

		// User menu
		$("#top-nav-bar ul").before('<span class="glyphicon glyphicon-menu-hamburger"></span>');
		$("#top-nav-bar span").click(function(){
			//slide up all the link lists
			$("#top-nav-bar ul").slideUp();
			$(this).css("color", "#ffffff");
			//slide down the link list below the h3 clicked - only if its closed
			if(!$(this).next().is(":visible")){
				$(this).next().slideDown();
				$(this).css("color", "#ec4445");
			}
		});

		// Search box
		$("#search-bar form").before('<span class="glyphicon glyphicon-search"></span>');
		$("#search-bar span").click(function(){
			//slide up all the link lists
			$("#search-bar form").slideUp();
			$(this).css("color", "#ffffff");
			//slide down the link list below the h3 clicked - only if its closed
			if(!$(this).next().is(":visible")){
				$(this).next().slideDown();
				$(this).css("color", "#ec4445");
			}
		});
	});
</script>

<%= yield :head %>
