<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= stylesheet_link_tag 'spree/frontend/bxslider', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag 'spree/frontend/bxslider.min' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<% @add = Spree::Product.find_by(name: "customer-address") %>

<script>
	$(document).ready(function(){
		$("#toTop").css("display", "none");
			
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
		
		//Click event to scroll to top
		$('#toTop').click(function(){
			$('html, body').animate({scrollTop : 0},1000);
			return false;
		});

		// User menu
		$("#header span.glyphicon.glyphicon-menu-hamburger").click(function(){
			//slide up all the link lists
			$("#top-nav-bar ul").slideUp();
			$("#header #top-nav-bar span.glyphicon.glyphicons-remove").removeClass("glyphicon-remove");
			$("#header #top-nav-bar span.glyphicon").addClass("glyphicon-menu-hamburger");
			$("#header #top-nav-bar span.glyphicon-menu-hamburger").css("color", "#ffffff");
			//slide down the link list below the h3 clicked - only if its closed
			if(!$(this).next().is(":visible")){
				$(this).next().slideDown();
				$("#header #top-nav-bar span.glyphicon.glyphicon-menu-hamburger").removeClass("glyphicon-menu-hamburger");
				$("#header #top-nav-bar span.glyphicon").addClass("glyphicon-remove");
				$("#header #top-nav-bar span.glyphicon.glyphicon-remove").css("color", "#272727");
			}
		});

		// Products home slider
		$('.bxslider').bxSlider({
			auto: true,
			autoHover: true,
			controls: false,
			pager: false,
		  	mode: 'vertical',
		  	slideMargin: 5
		});

		// Resize page height depending on screen height
			resizeDiv();
	});
</script>

<script>
// Resize page height depending on screen height
	window.onresize = function(event){
		resizeDiv();
	}

	function resizeDiv(){
		vpw = $(window).width();
		vph = $(window).height();
		$("#content").css({"height": vph + "px"});
	}
</script>

<%= yield :head %>
