<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<% @add = Spree::Product.find_by(name: "customer-address") %>

<script>
	$(document).ready(function(){
		$("#toTop").css("display", "none");
			
		//Check to see if the window is top if not then display button
		$(window).scroll(function(){
			if ($(this).scrollTop() > 100) {
				$('#toTop').fadeIn();
			} else {
				$('#toTop').fadeOut();
			}
		});
		
		//Click event to scroll to top
		$('#toTop').click(function(){
			$('html, body').animate({scrollTop : 0},1000);
			return false;
		});

		// User menu
		$("#header .glyphicon.glyphicon-menu-hamburger").click(function(){
			//slide up all the link lists
			$("#top-nav-bar ul").slideUp();
			//slide down the link list below the h3 clicked - only if its closed
			if(!$(this).next().is(":visible")){
				$(this).next().slideDown();
			}
		});
	});
</script>

<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider();
	});

	$('#slider').nivoSlider({
	    effect: 'fade',                 // Specify sets like: 'fold,fade,sliceDown'
	    slices: 15,                     // For slice animations
	    boxCols: 8,                     // For box animations
	    boxRows: 4,                     // For box animations
	    animSpeed: 500,                 // Slide transition speed
	    pauseTime: 5000,                 // How long each slide will show
	    startSlide: 0,                     // Set starting Slide (0 index)
	    directionNav: false,             // Next & Prev navigation
	    controlNav: false,                 // 1,2,3... navigation
	    controlNavThumbs: false,         // Use thumbnails for Control Nav
	    pauseOnHover: false,             // Stop animation while hovering
	    manualAdvance: false,             // Force manual transitions
	    prevText: 'Prev',                 // Prev directionNav text
	    nextText: 'Next',                 // Next directionNav text
	    randomStart: false,             // Start on a random slide
	    beforeChange: function(){},     // Triggers before a slide transition
	    afterChange: function(){},         // Triggers after a slide transition
	    slideshowEnd: function(){},     // Triggers after all slides have been shown
	    lastSlide: function(){},         // Triggers when last slide is shown
	    afterLoad: function(){}         // Triggers when slider has loaded
	});
</script>

<%= yield :head %>
