<header id="header" class="col-xs-12 col-md-2" data-hook>
  <div class="row">
    <div class="user-menu col-xs-12 col-md-12">
      <div class="navbar">
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>

    <div class="phone-box col-xs-12 col-md-12">
      <i class="fa fa-phone"></i>
      <% if @add.nil? %>
      
      <% else %>
        Call us <%= @add.phone %>
      <% end %>
    </div>

    <figure id="logo" class="col-xs-12 col-md-12" data-hook>
      <%= logo %>
    </figure>
    
    <div id="link-to-cart" class="col-xs-12 col-md-12" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
      <script>Spree.fetch_cart()</script>
    </div>

    <div class="main-menu col-xs-12 col-md-12">
      <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
  </div>
</header>
